:root {
  --main-color: #1F5FBF;
  --second-color :#312617 ;
}

*{
    font-family: "PT Sans Caption", sans-serif;
}

.text-black{
    color: black;
}

a{
    text-decoration: none;
}

.text-main-color{
    color: var(--main-color);
}

.bg-main-color{
    background-color: var(--main-color);
}

.test{
    margin-left: 20px;
}

body {
  direction: rtl; 
}

#Contact-Us{
    direction: ltr;
}

.contact{
    background-color: var(--main-color);
    background-size: cover;
    min-height: 80vh;
    font-size: 2.5vw;
    font-weight: 600;
    display: flex;
}

.w-40{
    width: 35%;
}

.w-45{
    width: 45%;
}

.map{
    padding-right: 20px;
    padding-top: 15px;
}

.hov:hover{
    .icon{
        background-color: var(--main-color);
    }

    .border{
        background-color: #cde1f8;
    }

    .iconicc{
        color: white;
    }

}

.iconicc{
    font-size: 20px ;
    border-width: 50px;
    border-color: black ;
    transition: all 1s;
    color: black;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    background-color:white;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}


.sidebar {
  position: fixed;
  top: 40%;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  direction: ltr;
}

.sidebar-item {
  position: relative;
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  transition: width 0.3s ease;
}

.s-face{
     border-top-right-radius: 10px;
      background-color: #3b5998;
}

.s-whats{
    border-bottom-right-radius: 10px;
     background-color: #25D366;
}

.text-big{
    font-size: 100px;
    font-weight: 700;
}

.container2{
    width: 95%;
    margin: auto;
}

.size{
    width: 500px;
    height: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.layer{
    opacity: 0;
}

.t-hover:has(.sidebar-item:hover) .layer {
  opacity: 1;
  transform: translateX(0);
  transition: 2s all;
}

.bg-whats{
     background-color: #25D366;
}

.bg-face{
    background-color: #3b5998;
}

.text h2{
    line-height: 50px;
    margin-top: 20px;
}

.sizing{
    width: 200px;
    height: 60px;
}

.navbar{
    min-height: 80px;
}

.phone{
    font-size: 25px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-second{
    background-color: #312617;
}

.shadow-img {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
     background-color: var(--main-color);
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--main-color);
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-item{
    color: black;
}

button{
    background-color: black !important;
}

#testmonial{
    height: 70vh;
    margin-top: 50px;
}

.ham:hover{
    opacity: 0.1;
}

.card:hover{
    opacity: 0.1;
}

.img-wasf:hover{
    opacity: 0.1;
}

html, body {
  overflow-x: hidden;
}

.nav-link:hover{
    background-color: var(--main-color);
}

#home{
    /* background-image: url(../img/back-ground.jpg); */
    background-color: black;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-text{
     font-family: "PT Sans Caption", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.header-text::after{
    content: "|";
    animation-name: header-animation;
    animation-duration: 5s;
    animation: header-animation 6s forwards;
    animation-direction:alternate ;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 50vh;
}

.track {
  display: flex;
  width: max-content;
}

#track {
    .slide {
  flex: 0 0 auto;
  width: 100px;
  margin-right: 20px;
}

.slide img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
}




 @keyframes header-animation {
    0%{
        content: "|";
    }

    2%{
        content: "ش|";
    }
    4%{
        content: "شر|";
    }
    6%{
        content: "شرك|";
    }
    8%{
        content: "شركه|";
    }
    9%{
        content: "شركه |";
    }
    10%{
        content: "شركه ا|";
    }
    12%{
        content: "شركه ال|";
    }
    14%{
        content: "شركه الا|";
    }
    16%{
        content: "شركه الاه|";
    }
    18%{
        content: "شركه الاهر|";
    }
    19%{
        content: "شركه الاهرا|";
    }
    20%{
        content: "شركه الاهرام|";
    }
    22%{
        content: "شركه الاهراما|";
    }
    24%{
        content: "شركه الاهرامات|";
    }
    25%{
        content: "شركه الاهرامات |";
    }
    26%{
        content: "شركه الاهرامات ب|";
    }

    28%{
        content: "شركه الاهرامات با|";
    }
    29%{
        content: "شركه الاهرامات بان|";
    }
    30%{
        content: "شركه الاهرامات بانل|";
    }
    32%{
        content: "شركه الاهرامات بان|";
    }
    34%{
        content: "شركه الاهرامات با|";
    }
    36%{
        content: "شركه الاهرامات ب|";
    }
    38%{
        content: "شركه الاهرامات |";
    }

    39%{
        content: "شركه الاهراما|";
    }
    40%{
        content: "شركه الاهرام|";
    }
    42%{
        content: "شركه الاهرا|";
    }
    44%{
        content: "شركه الاهر|";
    }
    46%{
        content: "شركه الاه|";
    }
    48%{
        content: "شركه الا|";
    }
    49%{
        content: "شركه ال|";
    }
    50%{
        content: "شركه ا|";
    }
    52%{
        content: "شركه |";
    }
    54%{
        content: "شركه|";
    }
    56%{
        content: "شرك|";
    }
    58%{
        content: "شر|";
    }
    59%{
        content: "ش|";
    }
    60%{
        content: "|";
    }
    62%{
        content: "ش|";
    }
    64%{
        content: "شر|";
    }
    66%{
        content: "شرك|";
    }
    68%{
        content: "شركه|";
    }
    69%{
        content: "شركه|";
    }
    70%{
        content: "شركه ا";
    }
    72%{
        content: "شركه ال|";
    }
    74%{
        content: "شركه الا|";
    }
    76%{
        content: "شركه الاه|";
    }
    78%{
        content: "شركه الاهر|";
    }
    79%{
        content: "شركه الاهرا|";
    }
    80%{
        content: "شركه الاهرام|";
    }
    82%{
        content: "شركه الاهراما|";
    }
    84%{
        content: "شركه الاهرامات|";
    }
    86%{
        content: "شركه الاهرامات |";
    }
    88%{
        content: "شركه الاهرامات ب|";
    }
    90%{
        content: "شركه الاهرامات با|";
    }
    92%{
        content: "شركه الاهرامات بان|";
    }
    94%{
        content: "شركه الاهرامات بانل|";
    }
    96%{
        content: "شركه الاهرامات بانل|";
    }
    94%{
      content: "شركه الاهرامات بانل|";
  }

  100%{
      content: "شركه الاهرامات بانل";
  }

    
 }


.hero-section {
    height: 90vh;
}

.text-box {
    max-width: 700px;   /* يمنع امتداد الكلام لنهاية الصفحة */
}

.text-box h2 {
    font-size: 26px;   /* أصغر شوية */
}

.text-main-color {
    color: #00bcd4;
}

.contact-rectangle {
    background-color: #0d6efd; /* أزرق شيك */
    padding: 12px 40px;
    border-radius: 8px; /* حواف خفيفة */
    width: fit-content;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.contact-rectangle:hover {
    background-color: #084298;
    transform: translateY(-3px);
}

.carousel-indicators {
    display: none !important;
}


/* #testmonial .carousel-indicators {
    display: block !important;
} */


#karvan{
    background-image: url(../img/water-mark.jpg);
     background-size: cover;
     object-fit: fill;
}

.wasf-karvan{
    margin-bottom: 100px;
}


.margin{
    margin-left: 85px;
}

.a3mal{

    h1{
        font-size: 50px;
        font-weight: 800;
    }

    p{
        font-size: 24px;
        font-weight: 600;
    }
}
.carousel-item{

    p{
        font-size: 25px;
        font-weight: 400;
    }

    h5{
        font-size: 40px;
        font-weight: 800;
    }
}

.font-p{
    font-size: 50px;
    color: white;
    font-weight: 700;
}

.koshk-m{
    font-size: 25px;
    font-weight: 400;
}

.koshk-h{
    font-size: 50px;
    font-weight: 700;
}



header h3{
        font-size: 48px;
        font-weight: 700;
        color: var(--main-color);
    }

    .pt-7{
        padding-top: 80px;
    }


.carousel-control-prev,
.carousel-control-next {
    background: none;
}    

@media (max-width: 768px){

    .contact{
        flex-direction: column;
    }

    .home{
        flex-direction: column;
    }

    .map iframe {
        width: 100%;
    }

    .img-icon{
       padding-top: 50px;
       width: 75% !important;
       padding-bottom: 30px;
    }

    .media{
        flex-direction: column;
    }

    .media2{
        flex-direction: column-reverse;
    }
    

    .font-p{
        font-size: 30px;
    }

    .img-wasf{
        width: 50% !important;
    }

    .space{
        margin-right: 30px;
    }
}